@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
body {
	margin: 0;
	overflow: hidden;
}

button {
	font-family: sans-serif;
	font-size: 1em;
	background-color: grey;
	color: white;
	border-color: blueviolet;
	margin: 0.25em;
}

.interface {
	color: paleturquoise;
}

div {
	font-size: 1em;
	font-family: sans-serif;
}

input[type="range"] {
	zoom: 2;
}
